@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary: #e8b45e;
    --white: #ffffff;
    --black: #000000;
    --max-width: 480px;
    --itim: 'Itim', cursive;
    --roboto: 'Roboto', sans-serif;
}

html, body {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
    font-family: var(--roboto);
}

body {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
}
body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}

.spacer {
    flex: 1;
}

/* Index & Loading */

.index {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.index img {
    width: 300px;
    height: auto;
    transition: filter 0.3s ease;
}

.spinner_container {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner_container .spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient( var(--white) 20%, #e2c19b);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 7px), black 0) center/100% 100% no-repeat;
    mask: radial-gradient(farthest-side, transparent calc(100% - 7px), black 0) center/100% 100% no-repeat;
    animation: spin 5s linear infinite;
}

.index.loading .spinner_container {
    display: block;
}

.index.loading img {
    filter: blur(2px);
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Navigation Bar */

.bottom_nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: var(--max-width);
    z-index: 1000;
}

.bottom_nav .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #c96319;
    background-color: var(--white);
}

.bottom_nav .nav > * {
    flex: 1;            /* each nav is distributed equally*/
}

.bottom_nav .nav .each_nav {
    text-align: center;
    padding: 5px;
    margin: 10px 0;
}

.bottom_nav .nav .each_nav img {
    width: 30px;
    height: 30px;
}

.bottom_nav .nav .each_nav p {
    margin: 5px 0;
    font-family: var(--itim);
    font-size: .8rem;
}


.bottom_nav .nav .each_nav.active p {
    color: var(--primary);
}

/* Confessions */

.confessions {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 150px;
    max-width: var(--max-width);
}

.confessions .header {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    z-index: 9999;
    padding-top: env(safe-area-inset-top);
}

.confessions .header .header_left, .confessions .header .header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.confessions .header .header_left img, .confessions .header .header_right img {
    width: 40px;
    height: 40px;
}

.confessions .header .header_left h1 {
    font-family: var(--itim);
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 10px;
}

.confessions .header .header_right .dark_light input[type="checkbox"] {
    position: relative;
    width: 42px;
    height: 25px;
    border-radius: 14px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    background-color: #efefef;
    transition: .1s;
}

.confessions .header .header_right .dark_light input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    top: 2.5px;
    left: 2px;
    background-color: var(--white);
    transition: .3s;
    box-shadow: 0 3px 8px rgba(0,0,8,0.15);
}

.confessions .header .header_right .dark_light input[type="checkbox"]:checked {
    background-color: #b07c5c;
}

.confessions .header .header_right .dark_light input[type="checkbox"]:checked::before {
    left: 20px;
}

.confessions .content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 160px);
    gap: 20px;
    justify-content: center;
}

.confessions .content .each_content {
    width: 160px;
    height: 220px;
    border-radius: 10px;
    background-color: #f2ece5;
    cursor: pointer;
}

.confessions .content .each_content img {
    width: 160px;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.confessions .content .each_content p {
    font-family: var(--itim);
    font-weight: 400;
    font-size: .9rem;
    padding: 5px;
    height: 33px;
    margin: 0;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.confessions .end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confessions .end .line {
    width: 100%;
    min-width: 30px;
    height: 3px;
    background-color: var(--primary);
    margin: 10px;
    border-radius: 3px;
}

.confessions .end p {
    font-family: var(--itim);
    text-align: center;
    font-size: 1.3rem;
    width: 400px;
}

.confessions .end span {
    font-size: 1rem;
    color: blue;
    text-decoration: underline;
}

/* Warning from Happy Zone to Sad Corner */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay .popup {
    background-color: var(--white);
    padding: 10px 15px 15px 15px;
    border-radius: 12px;
    max-width: 200px;
    max-height: 200px;
    font-family: var(--itim);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease-in-out;
}

.overlay .popup p {
    padding: 0;
    text-align: left;
}

.overlay .popup button {
    width: 100%;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: var(--itim);
    display: flex;
    flex-direction: row;
}

.overlay .popup .confirm {
    color: #c96319;
}

@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.95);}
    to {opacity: 1; transform: scale(1);}
}

/* Each Posts */

.confessions .back {
    padding-top: 20px;
    padding-left: 10px;
    width: 95%;
    max-width: var(--max-width);
    position: fixed;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
}

.confessions .back img {
    width: 20px;
    height: 20px;
}

.confessions .media {
    margin: 60px auto 0 auto;
    padding: 0 20px;
    width: 90%;
    max-width: 365px;
    aspect-ratio: 365 / 419; 
}

.confessions .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.confessions .post {
    padding: 0 20px;
    max-width: 365px;
    margin: 0 auto;
}

.confessions .post h1 {
    font-family: var(--itim);
    font-weight: 400;
    font-size: 15px;
}

.confessions .post p {
    font-weight: 300;
    font-size: 11px;
    text-align: justify;
}

.confessions .date {
    padding: 0 20px;
    max-width: 365px;
    width: 90%;
    margin: 50px auto 0 auto;
}

.confessions .date p {
    font-size: 9px;
    color: #747474;
    margin: 0;
    padding-bottom: 3px;
}

.confessions .horizontal {
    padding: 0 20px;
    max-width: 350px;
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: #d9d9d9;
}

.confessions .all_comments {
    padding: 0 20px;
    max-width: 365px;
    width: 90%;
    margin: 0 auto;
}

.confessions .all_comments .comment_title {
    display: flex;
    flex-direction: row;
    column-gap: 6px;  
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.confessions .all_comments .comment_title img {
    width: 24px;
    height: 24px;
}

.confessions .all_comments .comment_title h1 {
    font-family: var(--itim);
    font-weight: 400;
    font-size: 15px;
    color: var(--primary);
}

.confessions .all_comments .comment {
    max-width: 364px;
    width: 100%;
}

.confessions .all_comments .comment .each_comment {
    background-color: #f0f0f0;
    width: 100%;
    min-height: 74px;
    height: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

.confessions .all_comments .comment .each_comment p {
    margin: 0;
    padding: 10px;
    font-size: 12px;
}

.confessions .all_comments .comment .each_comment .comment_footer {
    display: flex;
    flex-direction: row;
}

.confessions .all_comments .comment .each_comment .comment_footer p, .confessions .all_comments .comment_title .add p {
    font-size: 9px;
    color: #808080;
}

.confessions .all_comments .comment .each_comment .reply {
    padding-bottom: 10px;
}

.confessions .all_comments .comment .each_comment .reply .each_reply {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.confessions .all_comments .comment .each_comment .reply .each_reply .rply_msg {
    flex: 1 1 70%;
    font-size: 10px;
    padding: 0;
}

.confessions .all_comments .comment .each_comment .reply .each_reply .date {
    flex: 1 1 30%;
    font-size: 9px;
    text-align: right;
    color: #808080;
    padding: 0;
}

